

.timer-numbers {
  margin-top: 40px;
  font-size: 90px;
  color: #718a05;
  text-align: center;
}
.timer-numbers:after {
  content: '';
  display: block;
  width: 25%;
  height: 1.5px;
  background-color: #718a05;
  margin: 0 auto;
  margin-top: 4px;
}